@page
@model CrudProjeto365.Views.Home.PromocoesModel
@{
}

<section class="container-flex">
    <div class="text-center my-5">
        <span class="h6 d-block">O MELHOR DESTINO DA SUA VIAGEM</span>
        <h1 class="display-4 text-primary">Descubra o melhor Destino</h1>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/mexico.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">México</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/Guatemala.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Guatemala</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/costa rica.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Costa Rica</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/republica dominicana.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">República Dominicana</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
</section>
<section class="container-flex">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/nicaragua.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nicaragua</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/belize.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Belize</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/portugal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Portugal</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/franca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">França</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
</section>
<section class="container-flex">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/italia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Itália</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/grecia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Grécia</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/alemanha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Alemanha</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/fotos/espanha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Espanha</h5>
                <p class="card-text">Aproveite a cultura,culinária,pontos turísticos e as belezas naturais do ambiente.</p>
                <a asp-action="destino" class="btn btn-primary card-button">Mais informações</a>
            </div>
        </div>
</section>
<section class="container">
    <div class="text-center my-5">
        <span class="h6 d-block">DESCUBRA O NOVO HORIZONTE</span>
        <h1 class="display-4 text-primary">Programação</h1>
    </div>
    <table class="table table-hover table-responsive-md">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Destino</th>
                <th scope="col">Local</th>
                <th scope="col">Ticket</th>
                <th scope="col">valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">23/12</th>
                <td>Pirâmides de Teotihuacán</td>
                <td>México</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$1620,00</td>
            </tr>
            <tr>
                <th scope="row">24/12</th>
                <td>Ruínas Maias de Tikalr</td>
                <td>Guatemala</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$1740,00</td>
            </tr>
            <tr>
                <th scope="row">25/12</th>
                <td>Xunantunich</td>
                <td>Belize</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$1850,00</td>
            </tr>
            <tr>
                <th scope="row">26/12</th>
                <td>Torre Eiffel</td>
                <td>França</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$1960,00</td>
            </tr>
            <tr>
                <th scope="row">27/12</th>
                <td>Colisseum</td>
                <td>Itália</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$2100,00</td>
            </tr>
            <tr>
                <th scope="row">28/12</th>
                <td>Templo de Poseidon</td>
                <td>Grécia</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm">Comprar Ticket</a></td>
                <td>R$2140,00</td>
            </tr>
        </tbody>
    </table>
</section>
